<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>Agenda de Contatos</h1>
    <form action="/create" method="POST">
      <input name="name" placeholder="Nome:">
      <input name="email" placeholder="E-mail:">
      <input name="phone" placeholder="Telefone:">
      <button type="submit">Adicionar</button>
    </form>

    <ul> 
        {% for conta in contatos %}
          <li>
            <form action="/update/{{conta.id}}" method="POST">
              <input name="name" value="{{ conta.name }}">
              <input name="email" value="{{ conta.email }}">
              <input name="phone" value="{{ conta.phone }}">
              <button type="submit"">Editar</button>
              <a href="/delete/{{conta.id}}">❌</a>
            </form>            
          </li>
          
        {% endfor %}

       {% for contas in contacts %}
          <li>
            <form action="/update/{{contas.id}}" method="POST">
              <input name="name" value="{{ contas.name }}">
              <input name="email" value="{{ contas.email }}">
              <input name="phone" value="{{ contas.phone }}">
              <button type="submit"">Editar</button>
              <a href="/delete/{{contas.id}}">❌</a>
            </form>            
          </li>
          
        {% endfor %}
      
    </ul>

  
</body>
</html>